.side_menu {
  position: absolute;
  height: 100vh;
  width: 60vw;
  left: 100vw;
  opacity: 0;
  transition: all 300ms;
  z-index: 100;
  background-color: white;
}

.toggled {
  left: 40vw;
  opacity: 1;
}

.close_btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.hamburger_menu {
}

.hamburger_menu_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
  list-style: none;

  li {
    width: 100%;
    height: 100%;

    button {
      all: unset;
    }

    a,
    button {
      display: block;
      width: 100%;
      height: 100%;
      padding: 15px 0 15px 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      transition: all 300ms;
    }

    a:hover,
    button:hover {
      color: #00eaff;
    }
  }
}

@media (min-width: 1025px) {
  .side_menu {
    display: none;
  }
}
