.side_menu_background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 300ms;
}

.toggled {
  opacity: 1;
  z-index: 90;
}

@media (min-width: 1025px) {
  .side_menu_background {
    display: none;
  }
}
