.carousel {
  display: flex;
  align-items: center;
}

.slide_btn {
}

.view_frame {
  display: flex;
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.image_film {
  display: flex;
}

.image_div {
  width: 500px;
  height: 500px;
}
